.featured-listing-section {
    margin-top: 40px;
}

.featured-listing-h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.featured-listing-label {
    position: absolute;
    right: 0;
    background-color: #2ecc71;
    color: white;
    padding: 5px 10px;
}
