
<section class="testimonials-section">
  <div class="testimonial-div testimonial-div-green">
    <img class="testimonials-img" src="../../assets/rental-15.jpg">
    <p class="testimonial-p testimonial-p-1">Some text about how good this site is.<br>
    - Person Name
    </p>
    
  </div>
  <div class="testimonial-div testimonial-div-blue">
      <img class="testimonials-img" src="../../assets/rental-3.jpg">
    <p class="testimonial-p testimonial-p-2">Some (more) text about how good this site is.<br>
    - Person Name
    </p>
  </div>
</section>